xsd/log.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Log queue schema — v2.0 envelope for operational events from all services.
  All teams use this shape so Logstash can parse without per-source branching.
  Aligns with the cross-team proposal in Mailing/mailing_service/schemas/logs.xsd.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:complexType name="ContextEntryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="key" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id" type="xs:string"/>
              <xs:element name="timestamp"  type="xs:dateTime"/>
              <xs:element name="source">
                <xs:simpleType><xs:restriction base="xs:string">
                  <xs:enumeration value="frontend"/>
                  <xs:enumeration value="crm"/>
                  <xs:enumeration value="kassa"/>
                  <xs:enumeration value="planning"/>
                  <xs:enumeration value="facturatie"/>
                  <xs:enumeration value="mailing"/>
                  <xs:enumeration value="monitoring"/>
                  <xs:enumeration value="identity-service"/>
                  <xs:enumeration value="iot_gateway"/>
                </xs:restriction></xs:simpleType>
              </xs:element>
              <xs:element name="type">
                <xs:simpleType><xs:restriction base="xs:string">
                  <xs:enumeration value="log"/>
                </xs:restriction></xs:simpleType>
              </xs:element>
              <xs:element name="version">
                <xs:simpleType><xs:restriction base="xs:string">
                  <xs:enumeration value="2.0"/>
                </xs:restriction></xs:simpleType>
              </xs:element>
              <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="level">
                <xs:simpleType><xs:restriction base="xs:string">
                  <xs:enumeration value="INFO"/>
                  <xs:enumeration value="WARN"/>
                  <xs:enumeration value="ERROR"/>
                  <xs:enumeration value="FATAL"/>
                </xs:restriction></xs:simpleType>
              </xs:element>
              <xs:element name="action">
                <xs:simpleType><xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                </xs:restriction></xs:simpleType>
              </xs:element>
              <xs:element name="logger"  type="xs:string"/>
              <xs:element name="message" type="xs:string"/>
              <xs:element name="context" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="entry" type="ContextEntryType"
                                minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
