xsd/log.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id" type="UUIDType"/>
              <xs:element name="timestamp" type="xs:dateTime"/>
              <xs:element name="source">
                <xs:simpleType><xs:restriction base="xs:string">
                  <xs:enumeration value="crm"/>
                  <xs:enumeration value="kassa"/>
                  <xs:enumeration value="facturatie"/>
                  <xs:enumeration value="frontend"/>
                  <xs:enumeration value="planning"/>
                  <xs:enumeration value="mailing"/>
                  <xs:enumeration value="identity-service"/>
                  <xs:enumeration value="iot_gateway"/>
                </xs:restriction></xs:simpleType>
              </xs:element>
              <xs:element name="type" type="xs:string" fixed="log"/>
              <xs:element name="version" type="xs:string" fixed="2.0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="level">
                <xs:simpleType><xs:restriction base="xs:string">
                  <xs:enumeration value="info"/>
                  <xs:enumeration value="warning"/>
                  <xs:enumeration value="error"/>
                </xs:restriction></xs:simpleType>
              </xs:element>
              <xs:element name="action">
                <xs:simpleType><xs:restriction base="xs:string">
                  <xs:enumeration value="registration"/>
                  <xs:enumeration value="user"/>
                  <xs:enumeration value="payment"/>
                  <xs:enumeration value="invoice"/>
                  <xs:enumeration value="session"/>
                  <xs:enumeration value="calendar"/>
                  <xs:enumeration value="email"/>
                  <xs:enumeration value="wallet"/>
                  <xs:enumeration value="refund"/>
                  <xs:enumeration value="identity"/>
                  <xs:enumeration value="xml_validation"/>
                  <xs:enumeration value="system_error"/>
                  <xs:enumeration value="badge"/>
                </xs:restriction></xs:simpleType>
              </xs:element>
              <xs:element name="message" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
