xsd/system_alert.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="alert">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="type"      type="xs:string" fixed="HEARTBEAT_CRITICAL"/>
        <xs:element name="system"    type="xs:string"/>
        <xs:element name="message"   type="xs:string"/>
        <xs:element name="timestamp" type="xs:dateTime"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
